<div class="auth-page">
  <div class="auth-card">
    <div class="auth-left">
      <h2>Welcome back</h2>
      <p class="muted">Sign in to continue to <strong>SmartCertify</strong></p>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-grid">
        <label>
          <span>Username</span>
          <input formControlName="userName" type="text" placeholder="Enter your username" />
        </label>
        @if (loginForm.get('userName')?.touched && loginForm.get('userName')?.invalid) {
          <div class="error">Username is required.</div>
        }

        <label>
          <span>Password</span>
          <input formControlName="password" type="password" placeholder="Enter your password" />
        </label>
        @if (loginForm.get('password')?.touched && loginForm.get('password')?.errors) {
          @if (loginForm.get('password')?.errors?.['required']) {
            <div class="error">Password is required.</div>
          } @else if (loginForm.get('password')?.errors?.['minlength']) {
            <div class="error">Password must be at least 6 characters.</div>
          }
        }

        <button class="btn-primary" type="submit" [disabled]="loading">
          @if (loading) { <span>Signing in...</span> } @else { <span>Sign In</span> }
        </button>
      </form>

      @if (backendErrors.length > 0) {
        <div class="backend-errors">
          <div class="error-item">{{ backendErrors }}</div>
          <!-- @for (let err of backendErrors  || []) { -->
          
        </div>
      }

      <p class="small muted">Don't have an account? <a routerLink="/register">Create one</a></p>
    </div>

    <div class="auth-right">
      <h3 class="accent">Product at your fingertips </h3>
      <p>Access top courses and prepare for certifications with practical, hands-on learning.</p>
      <img src="https://lsconlinecoursestorage.blob.core.windows.net/site/Mission.gif" alt="mission" />
    </div>
  </div>
</div>
