


@import '../../styles/mixins';


h1 {
  text-align: center;
  font-size: 15em;

  @include boxShadow(rgba(67, 155, 251), 50);
}

body {
  background-color: #007aff;
  color: #fff;
  line-height: 1.5;
  font-family: sans-serif;
}

p {
  font-size: 2em;
  text-align: center;
}