


@import '../../styles/mixins';



body {
  background-color: #007aff;
  color: #fff;
  line-height: 1.5;
  font-family: sans-serif;
}

p {
  font-size: 2em;
  text-align: center;
}